{% extends "base.html" %}

{% block title %} Orders form {% endblock %}

{% block content %}

    <h2>List of Orders</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date-generated</th>
                <th>Supplier</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for order in data_orders.lst_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date_generated }}</td>
                <td>{{ order.supplier }}</td>
                <td>{{ order.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="ordTotal">
        <p class="copy">
            Total accumulate of orders --------------------------------------------------- 
            <span style="font-weight: bold;"> $ {{ data_orders.acc_all_ords }}</span>
        </p>        
    </div>

{% endblock %}